process {

    executor = 'local'

    withName: VALIDATE_INPUT {
        cpus = 1
        memory = '1 GB'
    }

    withName: SOMALIER_EXTRACT {
        cpus = 4
        memory = '8 GB'
    }

    withName: SOMALIER_ANCESTRY {
        cpus = 2
        memory = '4 GB'
    }
}


params {

    input = null

    sites =
        "${projectDir}/resources/sites.hg38.vcf.gz"

    sites_index =
        "${projectDir}/resources/sites.hg38.vcf.gz.tbi"

    fasta =
        "/path/to/Homo_sapiens_assembly38.fasta"

    reference =
        "${projectDir}/resources/1kg/1kg-somalier"

    labels =
        "${projectDir}/resources/ancestry-labels-1kg.tsv"

    outdir =
        "${projectDir}/results"
}